@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  &::selection {
    background: #6c6c6c;
    color: #ffffff;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  transition: 0s;
  letter-spacing: 0.05rem;
  overflow-x: hidden;
  background: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// SCROLLBAR CUSTOM STYLES
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--gray-decor);
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
