@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: .3s ease-in-out;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: 0s;
  letter-spacing: .05rem;
  overflow-x: hidden;
  background: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



// SCROLLBAR CUSTOM STYLES

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-decor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}