:root {
  --gray: #1e1e1e;
  --gray-light: #393939;
  --gray-transparent: #1e1e1e92;
  --dark: #121212;
  --blue: #007fff;
  --blue-hover: #0263c5;
  --gray-decor: #272828;  
  --text-white: #e2e2e2;
  --text-gray: #a5a59c;
  --shadow: 0 0 5px var(--gray-decor);
}